body
{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.miPic
{
    width: 150px;
}

.card
{
    padding:20px;
    display: flex;
    color: #2b2839;
    justify-content: space-around;
    flex-direction: row;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    border-bottom:5px solid #d8cefe;
    background: #ddebf8;
    
}

.card-text
{
    width:60%;
    margin-left:20px;
    color: #2b2839;
}

.center
{
    text-align: center;
}

