body, html {
    margin: 0;
    padding: 10px;  
    color: #064490;
    font-family: MedievalSharp, cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 200px;
    border-radius: 20px;
    border: 4px solid #064490;
}
#clg{
    margin-top: 0;
    margin-bottom: 0;
}
#name{
    margin-bottom: 0;
}
#loc{
    margin-top: 0;
}
.details{
    display: flex;
}
.section{   
    width: 250px;
    background-color: #064490;
    color: white;
    margin: 0 50px;
}
.section > h3{
    text-align: center;
}